<fieldset id="deleteCliente">
  <legend>Cancellazione Cliente</legend>
  <div class="form-row">
    <p>
      Sei sicuro di voler cancellare il cliente
      <span>{{cliente.nome}}</span>
      <span> {{cliente.cognome}}</span> ?
    </p>
    <div class="form-group col-md-6">
        <button type="button" class="btn btn-sy" id="btnYes" (click)="conferma()">
          SI
        </button>
        <button type="button" class="btn btn-success" id="btnNo" (click)="annulla()">
          NO
        </button>
    </div>
    <!--<div class="form-group col-md-6">
      <button id="btnYes" (click)="conferma()">SI</button>
    </div>
    <div class="form-group col-md-6">
      <button id="btnNo" (click)="annulla()">NO</button>
    </div>-->
  </div>

</fieldset>