div{
    width: 100px;
    height: 100px;
}

.blue{

    border: 1px solid blue;
    background: cadetblue;

    position: fixed;
    left: 10px;

}

.red{

    border: 1px solid red;
    background: rgba(22, 176, 19, 0.5);

    position: fixed;
    top: 20px;
    left: 20px; 
}

.green{

    border: 1px solid green;
    background: rgba(3, 15, 32, 0.5);

    position: fixed;
    top: 30px;
    left: 30px;
}