<div id="nav">
  <div class="list"  routerLink="inserimento" (click)="conferma()">
    <label>Inserisci un cliente</label>
  </div>
  <div class="list" routerLink="search" (click)="ricerca()">
    <label>Esegui una ricerca</label>
  </div>
</div>

<!--<div style="overflow:auto">
  <div class="menu">
    <div class="menuitem"><a href="../../search/searchCp/search.component.html">Inserisci un cliente</a></div>
    <div class="menuitem"><a href="../../inserimento/form-inserimento/form-inserimento.component.html">Esegui una Ricerca</a></div>
  </div>-->