<fieldset>
  <legend>
    <b>Ricerca</b>
  </legend>
  <!--<form #f="ngForm">-->
  <!--<p>If you missed alert under me, just press
      <code>Add more</code> button</p>-->
  <!--<div #dataContainer></div>-->
  <!--<div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
    </div>-->
  <!--<button type="button" class="btn btn-primary" (click)="add()">Add more</button>-->
  <!--<br />-->
  <!--Nome-->
  <!--<div class="row">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-auto">
            <label for="name">Nome</label>
          </div>
          <div class="form-groupcol-auto">
            <input placeholder= "inserisci il nome" class="form-control" id="name" type="text" name="nome" [(ngModel)]="cliente.nomeCliente" uppercase>
          </div>
        </div>-->
  <!--Cognome-->
  <!--<div class="form-group">
          <div class="col-auto">
            <label for="cognome">Cognome</label>
          </div>
          <div class="form-group col-auto">
            <input type="text" class="form-control" placeholder="inserisci il cognome" value="" name="cognome" [(ngModel)]="cliente.cognomeCliente" uppercase>
          </div>
        </div>
      </div>
    </div>
    <br />-->
  <!--CodiceFiscale-->
  <!--<div class="row">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-auto">
            <label for="dataNascita">Codice </label>
          </div>
          <div class="col-auto">
            <input type="text"  class="form-control" placeholder="inserisci il codice fiscale" name="codiceFiscale" [(ngModel)]="cliente.codiceFiscale" uppercase>
          </div>
        </div>-->
  <!--DataNascita-->
  <!--<div class="form-group">
          <div class="form-group col-auto">
            <label for="dataNascita">Data Nascita</label>
          </div>-->
  <!--<div class="col-75">
            <input id="dataNascita" type="date" id="dataNascita" name="data" [(ngModel)]="cliente.dataNascita">
            </div>-->
  <!--<div class="col-auto form-group">
            <input type="text" [(ngModel)]="cliente.dataNascita" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
              name="dataNascita">
          </div>
          <div class="col-auto form-group">
            <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
              <img width="35px" height="35px" src="../../../../assets/icons/33650.png">
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />-->
  <!--Provincia-->
  <!--<div class="row">
      <div class="form-inline">
        <div class="form-group">
          <div class="form-group col-auto">
            <label for="provincia">Provincia</label>
          </div>
          <div class="form-group col-auto">
            <select [(ngModel)]="provincia.citta" name="citta">
              <option *ngFor="let provincia of provinciaList" value={{provincia.citta}}>
                {{provincia.citta}}.....({{provincia.descr}})
              </option>
            </select>
          </div>
        </div>-->
  <!--Prodotto-->
  <!--<div class="form-group">
          <div class="form-group col-auto">
            <label for="prodotto">Prodotto</label>
          </div>
          <div class="form-group col-auto">
            <select [(ngModel)]="prodotto.nomeProdotto" name="nomeProdotto">
              <option *ngFor="let prodotto of prodottiList" value={{prodotto.nomeProdotto}}>
                {{prodotto.descrizioneProdotto}}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>
    <br />-->
  <!--Sesso-->
  <!--<div class="row">
      <div class="form-inline">
        <div class="form-group">
          <div class="col-auto">
            <label for="sesso">Sesso</label>
          </div>-->
  <!--<div class="col-75">
          <br />
          <span id="sesso">M
          <input type="radio" value="M" name="sesso" [(ngModel)]="cliente.sesso"> F
          <input type="radio" value="F" name="sesso" id="ending" [(ngModel)]="cliente.sesso">
          </span>
          </div>-->
  <!--<div class="col-auto">
            <div class="btn-group" btnRadioGroup [(ngModel)]="cliente.sesso" name="sesso">
              <label class="btn btn-success" btnRadio="M" uncheckable tabindex="0" role="button">&emsp;M&emsp;</label>
              <label class="btn btn-success" btnRadio="F" uncheckable tabindex="0" role="button">&emsp;F&emsp;</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto"></div>
          <div class="col-auto">

          </div>
        </div>
      </div>
    </div>

  -->
  <!--Button-->
  <!--<button type="button" (click)="ricerca()" id="btnCerca" [disabled]="f.invalid" class="btn btn-primary">CERCA</button>
  </form>-->





  <!--<form #f="ngForm">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="name">Nome</label>
        <input type="text" class="form-control" placeholder="inserisci il nome" id="nome" name="nome" [(ngModel)]="cliente.nomeCliente"
          uppercase required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="cognome">Cognome</label>
        <input type="text" class="form-control" placeholder="inserisci il cognome" name="cognome" [(ngModel)]="cliente.cognomeCliente"
          uppercase required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="codiceFiscale">Codice fiscale</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="inserisci il codice fiscale" name="codiceFiscale" id="codiceFiscale"
            [(ngModel)]="cliente.codiceFiscale" uppercase required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="provincia">Provincia</label>
        <select [(ngModel)]="cliente.codiceProvincia" name="provincia">
          <option value=""></option>
          <option *ngFor="let provincia of provinciaList" value={{provincia.citta}}>
            {{provincia.citta}}.....({{provincia.descr}})
          </option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="prodotto">Prodotto</label>
        <select [(ngModel)]="prodotto.nomeProdotto" name="nomeProdotto">
          <option *ngFor="let prodotto of prodottiList" value={{prodotto.nomeProdotto}}>
            {{prodotto.descrizioneProdotto}}
          </option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>

      <div class="col-md-3 mb-3 form-group">
        <label for="dataNascita">Data Nascita</label>
        <input type="text" [(ngModel)]="cliente.dataNascita" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
          name="dataNascita" required>
      </div>
      <div class="col-md-3 mb-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
          <img width="35px" height="35px" src="../../../../assets/icons/33650.png">
        </button>
      </div>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-md-3 mb-3 form-group">
      <div class="form-group">

        <label for="sesso">
          Sesso
        </label>
        <div class="form-check">
          <div class="btn-group" btnRadioGroup [(ngModel)]="cliente.sesso" name="sesso">
            <label class="btn btn-success" btnRadio="M" uncheckable tabindex="0" role="button">&emsp;M&emsp;</label>
            <label class="btn btn-success" btnRadio="F" uncheckable tabindex="0" role="button">&emsp;F&emsp;</label>
          </div>

          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="ricerca()" id="btnCerca" class="btn btn-primary">CERCA</button>
  </form>-->
  <!--<div [hidden]="!edited" class="alert alert-success box-msg" role="alert" timeout="5000">
    <strong>OPERAZIONE COMPLETATA!</strong> Il cliente {{cliente.nomeCliente}} {{cliente.cognomeCliente}} e' stato AGGIUNTO con successo!
  </div>
  <div [hidden]="!nonedited" class="alert alert-danger box-msg" role="alert" timeout="5000">
    <strong>OPERAZIONE COMPLETATA!</strong> Il cliente {{cliente.nomeCliente}} {{cliente.cognomeCliente}} e' stato ELIMINATO con
    successo!
  </div>-->
  <div [hidden]="!edited" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div [hidden]="!nonedited" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <!--<form #f='ngForm'>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" placeholder="inserisci il nome" id="nome" name="nome" [(ngModel)]="cliente.nomeCliente"
          uppercase required>
      </div>
      <div class="form-group col-md-6">
        <label for="cognome">Cognome</label>
        <input type="text" class="form-control" placeholder="inserisci il cognome" name="cognome" [(ngModel)]="cliente.cognomeCliente"
          uppercase required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="codiceFiscale">Codice fiscale</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="inserisci il codice fiscale" name="codiceFiscale" id="codiceFiscale"
            [(ngModel)]="cliente.codiceFiscale" uppercase required>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="provincia">Provincia</label>
        <select [(ngModel)]="cliente.codiceProvincia" name="provincia">
          <option value=""></option>
          <option *ngFor="let provincia of provinciaList" value={{provincia.citta}}>
            {{provincia.citta}}.....({{provincia.descr}})
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prodotto">Prodotto</label>
        <select [(ngModel)]="prodotto.nomeProdotto" name="nomeProdotto">
          <option *ngFor="let prodotto of prodottiList" value={{prodotto.nomeProdotto}}>
            {{prodotto.descrizioneProdotto}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-5">
        <label for="dataNascita">Data Nascita</label>
        <input type="text" [(ngModel)]="cliente.dataNascita" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
          name="dataNascita" required>
      </div>
      <div class="col-md-1 mb-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
          <img width="35px" height="35px" src="../../../../assets/icons/33650.png">
        </button>
      </div>
      <div class="form-group col-md-11">
        <label for="sesso">Sesso&emsp;</label>
        <div class="btn-group" btnRadioGroup [(ngModel)]="cliente.sesso" name="sesso">
          <label class="btn btn-success" btnRadio="M" uncheckable tabindex="0" role="button">&emsp;M&emsp;</label>
          <label class="btn btn-success" btnRadio="F" uncheckable tabindex="0" role="button">&emsp;F&emsp;</label>
        </div>
      </div>
      <div class="form-group col-md-1">
        <button type="button" (click)="ricerca()" id="btnCerca" class="btn btn-primary">CERCA</button>
      </div>
    </div>
  </form>-->





  <form #f='ngForm'>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input type="text" class="form-control" placeholder="inserisci il nome" id="nome" name="nome" [(ngModel)]="cliente.nomeCliente"
          uppercase required>
      </div>
      <div class="form-group col-md-6">
        <label for="cognome">Cognome</label>
        <input type="text" class="form-control" placeholder="inserisci il cognome" name="cognome" [(ngModel)]="cliente.cognomeCliente"
          uppercase required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="codiceFiscale">Codice fiscale</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="inserisci il codice fiscale" name="codiceFiscale" id="codiceFiscale"
            [(ngModel)]="cliente.codiceFiscale" uppercase required>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="provincia">Provincia</label>
        <select [(ngModel)]="cliente.codiceProvincia" name="provincia">
          <option value=""></option>
          <option *ngFor="let provincia of provinciaList" value={{provincia.citta}}>
            {{provincia.citta}}.....({{provincia.descr}})
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="sesso">Sesso</label>
        <br />
        <div class="btn-group" btnRadioGroup [(ngModel)]="cliente.sesso" name="sesso">
          <label class="btn btn-success" btnRadio="M" uncheckable tabindex="0" role="button">&emsp;M&emsp;</label>
          <label class="btn btn-success" btnRadio="F" uncheckable tabindex="0" role="button">&emsp;F&emsp;</label>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="prodotto">Prodotto</label>
        <select [(ngModel)]="prodotto.nomeProdotto" name="nomeProdotto">
          <option *ngFor="let prodotto of prodottiList" value={{prodotto.nomeProdotto}}>
            {{prodotto.descrizioneProdotto}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-5">
        <label for="dataNascita">Data Nascita</label>
        <input type="text" [(ngModel)]="cliente.dataNascita" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
          name="dataNascita" required>
      </div>
      <div class="col-md-1 mb-3 form-group">
        <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
          <img width="35px" height="35px" src="../../../../assets/icons/33650.png">
        </button>
      </div>
    </div>
    <button type="button" (click)="ricerca()" id="btnCerca" class="btn btn-primary">CERCA</button>

  </form>
</fieldset>