<div id="container">
    <form name="inserimentoCliente" action="inserimentoClienteConsiglio.html">
        <fieldset>
            <p>
                <label for="nome">Nome</label>
                <input type="text" name="nome" ng-model="nome"></input>
                <label for="nome">Cognome</label>
                <input type="text" name="cognome" ng-model="cognome"></input>
            </p>
            <p>
                <label for="dataNascita">Data nascita</label>
                <input type="text" name="dataNascita" ng-model="dataNascita"></input>
                <label for="provincia">Provincia</label>
                <select name="provincia" ng-model="codProvincia">
                    <option value="" selected disabled></option>
                    <option value="BL">Belluno</option>
                    <option value="PD">Padova</option>
                    <option value="RO">Rovigo</option>
                    <option value="TV">Treviso</option>
                    <option value="VE">Venezia</option>
                    <option value="VR">Verona</option>
                    <option value="VI">Vicenza</option>
                </select>
            </p>

            <p>
                <label for="sesso">Sesso</label>
                <input type="radio" name="sesso" value="Maschio" ng-model="M" />
                <input type="radio" name="sesso" value="Femmina" ng-model="F" />
            </p>
            {{cognome}} - {{nome}}

            <button value="Procedi" type="submit">Procedi</button>
    </form>
</div>