
#header {
  background-color: #4ECF5D;
  padding: 20px;
  border: solid;
  margin-top: 0;
  border-color: green;
  height: 100px;
}

h1 {
  display: inline;
}

img {
  height: 100%;
  margin-left: 1%;
  margin-bottom: 1.5%;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .header{
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .header{
    width: 100%;
  }

  h1 {
    display: inline;
    font-size: 1em;
  }
}
