#logo{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 6%;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    #logo{
        clear:both;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    #logo{
      clear:both;
      width: 100%;
    }

    label{
        font-size: 1em;
    }
  }